* {
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');

body {
    display: grid;
    grid-template-columns: 20vh 20vh 20vh 20vh 20vh 20vh 20vh 20vh;
    grid-template-rows: 11.25vh 11.25vh 11.25vh 11.25vh 11.25vh 11.25vh 11.25vh 11.25vh;
    position: fixed;
    /* border: 0.5vh solid black; */
    height: 90vh;
    max-width: 160vh;
    margin: 4vh;
    font-family: 'Cinzel';
}
canvas {
    background: red;
    margin: 0 auto;
    border: 2px solid black;
}
#player-health {
    margin-top: 1vh;
    height: 1.8vh;
    width: 25.390625vh;
}
#computer-health {
    margin-top: -12.5vh;
    width: 50.78125vh;
    height: 2.5vh;
}
h1 {
    grid-column-start:1;
    grid-column-end: 4;
    grid-row-start: 1;
    position: relative;
    margin: 0;
    left: 10px;
    -webkit-text-stroke: 1px white;
    font-size: 3.5vh;
}
h2 {
    grid-column-start:4;
    grid-column-end: 6;
    grid-row-start: 1;
    position: relative;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 15vh;
    font-weight: bold;
    color: black;
    -webkit-text-stroke: 0.3vh white;
    z-index: 3;
}
h3 { 
    font-size: 5vh;
    font-weight: bold;
    color: black;
    -webkit-text-stroke: 0.1vh white;
    z-index: 3;
}
h4 {
    text-align: center;
    font-weight: bold;
}
p {
    font-weight: bold;
}
textarea {
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 7;
    position: relative;
    display: inline-block;
    font-family: monospace;
    font-size: 1.25vh;
    bottom: -3vh;
    padding: 5px 0 0 0;
    left: -10vh;
    border: 0.4vh solid white;
    background-color: black;
    color: white;
    text-align: center;
    width: 58.59375vh;
    height: 15.5vh;
    z-index: 3;
}
#background {
    grid-column-start: 1;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 9;
    position: relative;
    display: inline-block;
    /* margin-top: -0.5833333333333333vh;
    margin-left: -0.546875vh; */
    height: 90vh;
    width: 160vh;
    z-index: -9;
    opacity: 0.75;
}
#died {
    grid-column-start: 1;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 9;
    position: relative;
    display: inline-block;
    /* margin-top: -0.5833333333333333vh;
    margin-left: -0.546875vh; */
    height: 90vh;
    max-width: 160vh;
    z-index: -3;
}
#victory {
    grid-column-start: 1;
    grid-column-end: 9;
    grid-row-start: 4;
    grid-row-end: 6;
    position: relative;
    display: inline-block;
    /* margin-top: 405px; */
    /* margin-left: -0.546875vh; */
    height: 22.5vh;
    max-width: 160vh;
    z-index: -3;
    opacity: 0.75;
}
button {
    border: 0.15vh solid white;
    background-color: black;
    color: white;
    font-size: 1vh;
    text-align: center;
    padding: 1.5vh;
    margin: 1vh;
    border-radius: 0.5vh;
    cursor: pointer;
    font-family: 'Cinzel';
}
#start {
    grid-column-start:4;
    grid-column-end: 6;
    grid-row-start: 3;
    width: 55vh;
    margin-top: 5vh;
}
.start-buttons {
    position: relative;
    display: inline-block;
    align-items: center;
    font-size: 3vh;
    margin: 0.5vh;
    left: 2vh;
    z-index: 5;
}
.start-buttons:hover {
    background-color: green;
}
#again button {
    font-size: 4vh;
    background-color: black;
    color: white;
    border: 0.25vh solid white;
}
#again > button:hover {
    background-color: green;
}
#again {
    grid-column-start:4;
    grid-column-end: 6;
    grid-row-start: 4;
    position: relative;
    display: inline-block;
    margin: 0 auto;
    top: 1vh;
    z-index: 3;
}
.hide-buttons {
    grid-column-start: 6;
    grid-column-end: 9;
    grid-row-start: 2;
    position: relative;
    display: inline-block;
    margin: 0 auto;
    text-align: center;
    font-size: 1.5vh;
    right: -5vh;
    z-index: 3;
}
.hide-buttons button {
    font-size: 1.5vh;
    margin: 0.5vh;
}
button:hover {
    color: white;
    transform: scale(1.1);
}
button:focus {
    background-color: green;
    outline: none;
}
.start-buttons > button:hover {
    background-color: green;
}
.weapons > button:hover {
    background-color: darkred;
}
.shields > button:hover {
    background-color: blue;
}
.armors > button:hover {
    background-color: green;
}
#actions {
    grid-column-start:4;
    grid-column-end: 6;
    grid-row-start: 7;
    position: relative;
    display: inline-block;
    margin: 0 auto;
    top: -1.5vh;
    left: -10vh;
    z-index: 3;
    border: .4vh solid white;
    width: 58.59375vh;
    background: black;
}
#actions button {
    color: white;
    background-color: black;
    border: 0.15vh solid white;
    display: float;
    font-size: 1.25vh;
    bottom: 5vh;
    width: 7.5vh;
    margin-top: .8vh;
    margin-left: 0.75vh;
    padding: 1.25vh;
}
#actions button:focus {
    background-color: green;
}
/* #actions #initiate {
    margin-left: 11.75vh;
} */

#play {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 5;
    position: relative;
    display: inline-block;
    height: 46vh;
    width: 32vh;
    align-items: center;;
    /* margin-bottom: -15vh; */
    margin-top: -3vh;
    margin-left: -9.8125vh;
    padding: 0;
    border: 0.45vh solid white;
    text-align: center;
    background-color: rgba(0, 0, 0, .25);
    z-index: 5;
}

#play img {
    margin-bottom: 2.916666666666667vh;
    margin-right: 9.375vh;
    border: 0.15vh solid white;
    background-color: black;

}
/* #play-img {
    height: 20vh;
    width: 11vh;
    background-color: black;
    margin-top: 2vh;
    margin-left: -5vh;
} */
#play h4 {
    color: white;
    width: 19.53125vh;
    align-items: center;
    text-align: center;
    margin: 0 0 2.916666666666667vh 0;
}


#comp {
    grid-column-start:4;
    grid-column-end: 6;
    grid-row-start: 3;
    position: relative;
    /* top: -70vh; */
    left: -10vh;
    margin: 0 auto;
    text-align: center;
    z-index: -5;
    display: inline-block;
    /* overflow: hidden; */
}
#comp img {
    height: 40vh;
    width: 39.0625vh;
}

#comp-name {
    font-size: 3.75vh;
    font-weight: bold;
    margin-bottom: 1.25vh;
    -webkit-text-stroke: 0.25vh white;
    padding: 0;
}

table, th, tr, td {
    position: relative;
    display: inline-block;
    text-align: center;
}
th {
    position: relative;
    display: inline-block;
    text-align: center;
    font-size: 1.40625vh;
}
td {
    position: relative;
    height: 4vh;
    width: 6.15vh;
    border: 0.15vh solid white;
    padding: 0.75vh 0;
}

.stats {
    width: 6vh;
}

#table {
    color: white;
    background-color: black;
    border: 0.15vh solid white;
    font-size: 0.9vh;
    position: relative;
    display: inline-flex;
    text-align: center;
    height: 15.5vh;
    width: 29vh;
    margin-top: 3.5vh;
    z-index: 5;
    overflow: auto;
}

.stats {
    font-size: 1.1vh;
    font-weight: bold;
    padding: 1vh 0;
}

.icon-imgs {
    position: relative;
    display: flex;
    margin-top: 8vh;
    margin-left: -.75vh; 
    justify-content: space-between;
    font-size: 0;
    z-index: 1;
    padding: 0;
    /* border: 1vh solid white; */
}
.equip-icons {
    position: relative;
    display: flex;
    width: 4.25vh;
    height: 4.5vh;

    z-index: 1;
    /* border: .5vh solid white; */
}
.tooltip {
    visibility: hidden;
    background-color: black;
    color: white;
    text-align: center;
    border-radius: 0.5vh;
    position: relative;
    display: inline;
    width: 15.625vh;
    /* height: 1vh; */
    z-index: 1;
    font-size: 1vh;
    margin-top: -1vh; 
    margin-bottom: 5vh;
    margin-left: -15vh;
    /* border: 0.15vh solid white; */
    overflow: hidden;
}
.weap-div:hover > #weap-tt {
    visibility: visible;
    cursor: pointer;
}
.shield-div:hover > #shield-tt {
    visibility: visible;
    cursor: pointer;
}
.armor-div:hover > #armor-tt {
    visibility: visible;
    cursor: pointer;
}
#weap-img, #shield-img, #armor-img {
    cursor: pointer;
    border-radius: 1vh;
}
#weap-img {
    margin-left: 1vh;
}
#shield-img {
    margin-left: -1vh;
}

/* @media (max-height: 35vh), screen and (orientation: landscape) {
    body {
        height: 35vh;
    }
    #table {
        height: 25vh;
    }
}

@media (max-width: 56.25vh), screen and (orientation: landscape) {
    body {
        width: 56.25vh;
    }
} */